<div class="center jumbotron">
  <h1>Get your site!</h1>
  <h2>
    Enter your desired site name below and let the button do its magic
  </h2>
  <%= form_for (@site_name), url: {action: "instantiate", controller: "site_name"}, html: {method: "post"} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.submit "Create my site", class: "btn btn-primary" %>
  <% end %>
</div>
